{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add page
{% endblock %}

{% block body %}
    <h1>Add page</h1>
    <form action="/wiki/save-page" method="post">
        {% csrf_token %}
        <div class="textareas">
            <h4> Insert title: </h4>
            <textarea name="title" class="add-page-textarea"></textarea>
            <h4> Insert text: </h4>
            <textarea name="content" class="add-page-textarea large" ></textarea> 
        </div>
        <input type="submit" value="Save" />
    </form>

    
{% endblock %}